* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
/* utils */

.conteiner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid red;
}

.logo {
  max-width: 15%;
}

figure > img {
  width: 50%;
}
/* header */

header {
  background-color: #fe6900;
  position: sticky;
}

.link > ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  color: white;
}

ul > li {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* main */

.album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

figure {
  position: relative;
  top: 0 px;
  left: 0 px;
  right: 0 px;
  bottom: 0 px;
}

.discount {
  position: absolute;
  bottom: 30px;
  display: flex;
  font-size: small;
}

.sconto {
  background-color: red;
  color: white;
  padding: 5px;
}

.sost {
  background-color: green;
  color: white;
  padding: 5px;
  margin-left: 2px;
}

/* footer */

footer {
  background-color: #0e0e0e;
}

.footinfo {
  color: white;
  padding: 20px;
}
